<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="/static/js/jquery-1.4.2.js"></script>
    <title>炉石传说</title>
</head>
<body>
    <div>
        <h1 align="center">卡牌爬虫新增</h1>
        <form action="/service/card/batchAdd" method="get">
            <table align="center">
                <tr>
                    <td>链接</td>
                    <td>
                        <textarea name="url" cols="100" rows="10"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>